:root {
  --primary: #0058cc;
  --school-blue: #0058cc;
  --blue-shadow: rgba(0, 86, 199, 0.493);
}

::selection {
  background: var(--blue-shadow); /* Цвет фона */
}

body {
  transition: 0.5s;
}

* {
  box-sizing: border-box;
}

.h1-name {
  text-align: center;
  color: black;
}

.h2-name {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 0.25rem;
  color: #3f3f3f;
  font-size: 1.25rem;
  font-weight: 666;
}

.div-name {
  margin-top: 8.5rem;
  margin-bottom: 8.5rem;
  padding: auto;
  background-color: transparent;
  color: black;
  justify-content: center space-between;
}

.name-img {
  margin-top: -3.5rem;
  margin-bottom: auto;
  float: left;
  margin-left: 2rem;
  width: 8.2rem;
  height: auto;
}

@media (max-width: 991px) {
  .name-img {
    width: 0px;
    height: 0px;
  }
  .h1-name {
    font-size: 21px;
  }
  .h2-name {
    font-size: 17px;
  }
  .a-map-main {
    font-size: 21px !important;
  }

  .a-map-thread {
    font-size: 17px !important;
  }

  .page-text {
    font-size: 17px !important;
  }

  .page-title {
    font-size: 21px !important;
  }

  .category-title {
    font-size: 21px !important;
  }

  .div-path {
    font-size: 17px !important;
  }

  .page-link {
    font-size: 17px !important;
  }

  .page-content {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .page-content ul li {
    font-size: 17px !important;
  }

  .page-content ol li {
    font-size: 17px !important;
  }

  .path-dot {
    font-size: 13px !important;
  }

  table {
    font-size: 17px;
  }

  table td .page-link {
    font-size: 17px;
  }
}

.map-grid {
  display: grid;
}

.hr-main {
  margin-top: 3rem;
  width: 97.5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hr-footer {
  margin-top: 3rem;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.a-map-main {
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 700;
  transition: 0.3s;
  color: black;
  text-decoration: none;
}

.a-map-thread {
  cursor: pointer;
  margin-left: 1.2rem;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 0.3s;
  color: black;
  text-decoration: none;
}

.a-map-main:hover {
  color: var(--primary);
  text-decoration: none;
}

.a-map-thread:hover {
  color: var(--primary);
  text-decoration: none;
}

.div-path {
  margin-top: 1.5rem;
  margin-left: 3rem;
  background-color: transparent;
  font-size: 1.25rem;
  display: flex;
}

.a-path {
  color: #1f1f1f;
  text-decoration: none;
}

.a-path-last {
  color: var(--primary);
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.path-dot {
  font-weight: bold;
  font-size: 1rem;
  color: #1f1f1f;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.page-title {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary);
}

.category-title {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.page-text {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
}

.page-content {
  margin-top: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 10rem;
  background-color: transparent;
  display: grid;
}

.page-link {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 400;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}

.page-block {
  display: flex;
}

.page-content br {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding-top: 1rem;
}

.page-link:hover {
  color: #003274;
}

.page-link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #003274;
  transition: width 0.3s;
}

.page-link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: #003274;
  transition: width 0.3s;
}

.page-link[href*="http"] {
  background: url("/public/link.png") no-repeat 100% 0;
  background-size: 1.2rem 1.2rem;
  padding-right: 19px;
}

.page-link[href*="http"]:hover {
  background: url("/public/link-hover.png") no-repeat 100% 0;
  background-size: 1.2rem 1.2rem;
  padding-right: 19px;
}

.page-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 100%;
  height: auto;
  justify-content: center;
}

.youtube {
  border-color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 560px;
  height: 315px;
  text-align: center;
}

.page-content ol {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  margin-top: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.page-content ul {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  margin-top: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.page-comment {
  font-size: 1.25rem;
  font-weight: 300;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.normal {
  text-decoration: none;
  font-style: normal;
}

.larger {
  font-size: 2.5rem;
}

/* Tables */
table {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 70%;
  border-collapse: collapse;
  width: 70%;
  text-align: left;
  cursor: default;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

th {
  font-weight: bolder;
  color: rgb(0, 0, 0);
  border: 2px solid #7e7e7e;
  padding: 10px 15px;
}

td {
  color: rgb(43, 42, 46);
  border: 2px solid #7e7e7e;
  padding: 10px 15px;
}
td .page-link {
  font-size: 1.2rem;
}

tr {
  background: #f8f8f8;
}

/* Cards */
.cardcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 2px 20px var(--blue-shadow);
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.card-body h4 {
  margin-bottom: 5px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin-bottom: 5px;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: default;
}

.tag-teal {
  background-color: #47bcd4;
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #545d7a;
}

.need {
  color: red;
  float: inline-end;
}

.end-need {
  color: red;
  float: inline-start;
  margin-right: 0.25rem;
}

.checkpls {
  display: flex;
  margin-right: -0.5rem;
}

/* Status Line */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  width: 100%;
  min-height: 200px;
}

.container_item {
  width: calc(100% - 10px);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
}

.line {
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line_item {
  width: 10px;
  flex-grow: 1;
  background-color: #cccccc;
}

.line_center {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin: 10px 0;
}

.line_top {
  border-radius: 0 0 20px 20px;
}

.line_bottom {
  border-radius: 20px 20px 0 0;
}

li {
  font-size: 1.5rem;
}

.page-content ul li {
  color: #000000;
  list-style-type: circle;
  list-style-position: outside;
  margin-bottom: 12px;
}

.btncenter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
}

.bn632-hover {
  width: 15rem;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn26 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.sociallinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: transparent;
}

.vklogo {
  width: 77px;
  height: 77px;
  margin: 20px;
  transition: 0.3s;
  background-color: transparent;
}
