@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary: #0058cc;
  --school-blue: #0058cc;
  --color-1: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  box-shadow: 0 0 15px #0000003f;
}

header a {
  text-decoration: none;
}
header ul {
  list-style: none;
}
.nav-container {
  max-width: 1170px;
  margin: auto;
}
.nav-row {
  display: flex;
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
/*header*/
.nav-header {
  background-color: var(--color-1);
  padding: 9px 0;
  position: relative;
}
.nav-header .logo,
.nav-header .nav {
  padding: 0 8px;
}
.nav-header .logo a {
  font-size: 2.6rem;
  color: #000000;
  text-transform: capitalize;
}

.nav-header .logo img {
  width: 4rem;
  height: 4rem;
}

.nav-header .nav ul li {
  display: inline-block;
  margin-left: 20px;
}
.nav-header .nav ul li a {
  display: block;
  font-size: 17px;
  padding: 15px 0;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.nav-header .nav ul li a:hover,
.nav-header .nav ul li a.active {
  color: var(--primary);
}
.nav-header #nav-check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.nav-toggler {
  height: 44px;
  width: 44px;
  background-color: #ffffff;
  border-radius: 4px;
  border-width: 1px;
  border-color: #24262b23;
  border-style: solid;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 15px;

  transition: 0.3s;
}
.nav-toggler span {
  margin-left: 12px;
  display: block;
  height: 2px;
  width: 20px;
  background-color: #000000;
  position: relative;
  transition: 0.3s;
}
.nav-toggler:hover {
  box-shadow: 0 0 15px #0000006b;
}
.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  left: 0;
}
.nav-toggler span::before {
  top: -6px;
}
.nav-toggler span::after {
  top: 6px;
}
@media (max-width: 991px) {
  .nav-toggler {
    display: flex;
  }
  .nav-header .nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.363);
    opacity: 0;
    visibility: hidden;
  }
  .nav-header .nav ul li {
    display: block;
    margin: 0;
  }
  .nav-header #nav-check:checked ~ .nav {
    opacity: 1;
    visibility: visible;
  }
  .nav-header #nav-check:focus ~ .nav-toggler {
    box-shadow: 0 0 15px #0000006b;
  }
  .nav-header #nav-check:checked ~ .nav-toggler span {
    background-color: transparent;
  }
  .nav-header #nav-check:checked ~ .nav-toggler span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .nav-header #nav-check:checked ~ .nav-toggler span::after {
    top: 0;
    transform: rotate(-45deg);
  }
}

/* footer */
.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ffooter ul {
  list-style: none;
}
.ffooter {
  background-color: var(--school-blue);
  background-size: 100%;
  background-image: url("/public/header-bg-pattern.png");
  background-repeat: round;
  margin-top: 5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.ffooter-col-1 {
  width: 15%;
  padding: 0 2.5rem;
}

.ffooter-col-2 {
  width: 50%;
  padding: 0 2.5rem;
}

.ffooter-col-1 ul li:not(:last-child) {
  margin-bottom: 10px;
}
.ffooter-col-1 ul li a {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;

  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}
.ffooter-col-1 ul li a:hover {
  color: #aaccff;
}
.ffooter-col-1 .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
}
.ffooter-col-1 .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.ffooter-col-2 ul li:not(:last-child) {
  margin-bottom: 10px;
}
.ffooter-col-2 ul li a {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;

  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}
.ffooter-col-2 ul li a:hover {
  color: #aaccff;
}
.ffooter-col-2 .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
}
.ffooter-col-2 .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .ffooter-col-1 {
    width: 50%;
    margin-bottom: 30px;
  }
  .ffooter-col-2 {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .ffooter-col-1 {
    width: 100%;
  }
  .ffooter-col-2 {
    width: 100%;
  }
}

.footer-copyright {
  color: #ffffff;
  margin-top: 2rem;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
